<div class="mt-10 mx-w-4xl px-10 mx-auto ">
    <h2 class="text-6xl	py-2 text-gray-500">Explora</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img1.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img4.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img6.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img7.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img8.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img9.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img10.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img11.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/imgHome/img1.jpg" alt="">
        </div>
    </div>
</div>

<div class="mt-10 mx-w-4xl px-10 mx-auto ">
    <h2 class="text-6xl	py-2 text-gray-500">Planifica</h2>
    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
        <button type="button"
            class="text-blue-700 hover:text-white border bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">All
            categories</button>
        <button type="button"
            class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Terrariums</button>
        <button type="button"
            class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Handicrafts</button>
        <button type="button"
            class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Laintings</button>
        <button type="button"
            class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Oders</button>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">

        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image1.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image4.jpg" alt="">
        </div>
        <div>

            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image6.jpg" alt="">

        </div>

        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image8.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image9.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image10.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image7.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image12.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../../assets/imgStore/image11.jpg" alt="">
        </div>

    </div>


</div>
<div class="mt-20 mx-w-4xl px-10 mx-auto animate__animated animate__pulse animate__delay-1s animate__infinit">
    <h2 class="text-6xl	py-2 text-gray-500 ">y trasnforma tus espacios...</h2>
</div>
<section class="mt-16">
    <section
        class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-1 transition-all">
        <div
            class="p-5 text-2xl text-white rounded-md bg-teal-500 font-semibold hover:scale-110 bg-opacity-50 animate__animated animate__pulse animate__delay-1s animate__infinite">
            Welcome to my site!
        </div>
    </section>
    <section class="h-96 my-auto">
        <h1 class="flex justify-center my-10 text-6xl text-stone-600 hover:text-sky-400 rounded-xl">
            Seccion Uno
        </h1>
        <div class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
            atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
        </div>
    </section>
    <section class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-2">
        <div
            class="p-5 text-2xl text-white bg-green-700 bg-opacity-50 font-semibold rounded-xl animate__animated animate__pulse animate__delay-1s animate__infinite">
            Welcome to my site!
        </div>
    </section>
    <section class="my-auto h-96">
        <h1 class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400">
            Seccion Dos
        </h1>
        <div class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
            atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
        </div>
    </section>
    <section class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-3">
        <div
            class="p-5 text-2xl text-white bg-blue-700 bg-opacity-50 font-semibold rounded-xl animate__animated animate__pulse animate__delay-1s animate__infinite">
            Welcome to my site!
        </div>
    </section>
    <section class="my-auto h-96">
        <h1 class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400">
            Seccion Tres
        </h1>
        <div class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
            atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
        </div>
    </section>
    <section class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-4">
        <div
            class="p-5 text-2xl text-white bg-slate-600 bg-opacity-50 rounded-xl font-semibold animate__animated animate__pulse animate__delay-1s animate__infinite">
            Welcome to my site!
        </div>
    </section>
    <section class="my-auto h-96">
        <h1 class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400">
            Seccion Cuatro
        </h1>
        <div class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
            atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
            aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
            reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
        </div>
    </section>
</section>